
html {
    font-size: 62.5%;
}

body {
}

main{
    width: 96%;
    margin: 2rem auto;
}

h1 {
    font-size: 5rem;
    background-color: #92CCCE;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    background-color: #31343D;
    color: azure;
}

.header-links {
    display: flex;
    background-color: brown;
    font-size: 3rem;
}

.header-links ul {
    display: flex;
    flex-wrap: wrap;
}

.header-links li {
    flex:1 1 50%;
    text-align: center;
    padding: 0.5rem 1rem;
    border-color: #fff;
    border-style: solid;
    border-width: 1px;
}

h2 {
    text-align: center;
    font-size: 3rem;
}

p {
    font-size: 2rem;
    text-align: center;
    line-height: 2rem;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* margin-left: -1.5rem;
    margin-right: -1.5rem; */
}

.even {
    justify-content:space-evenly;
}

.container {
    padding: 1rem;
    flex: 1 1 100%;
}

.card-container{
    flex: 1 1 100%;
    padding: 1rem;
}

.card {
    display:flex;
    border: solid #31343D;
    border-width: 2px;
}

.card img {
    width: 20rem;
    flex: 1 1;
}

.start {
    justify-content: flex-start;
}

.end {
    justify-content: flex-end;
}

.active {
    order: -1;
}

@media screen and (min-width: 768px) {
    .header-links ul,
    header {
        flex-direction: row; 
    }

    .header-links li {
        flex: 1 1;
        font-size: 2rem;
    }

    /* .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    } */

    .container {
        flex: 1 1;
        min-width: 50%;
    }

    .card-container{
        flex: 1 1 50%;
        min-width: 50%;
        padding: 3%;
    }

    .flex {
        display: flex;
    }

    .footer {
        justify-content: space-evenly;
    }

    .line {
        border-right: solid #31343D;
        padding:1rem;
    }

}
@media screen and (min-width: 992px) {
    .header-links ul,
    header {
        flex-direction: row; 
    }

    .header-links li {
        flex: 1 1;
        font-size: 2rem;
    }
    
    /* .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    } */

    .container {
        flex: 1 1 50%;
        min-width: 50%;
    }

    .card-container{
        flex: 1 1 50%;
        min-width: 50%;
        padding:4%;
    }

    .flex {
        display: flex;
    }
    
    .footer {
        justify-content: space-evenly;
    }

    .line {
        border-right: solid #31343D;
        padding:2rem;
    }



}
        
/* full size page reference */
/* body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

header {
    display: flex;
    flex-wrap: wrap;
    background-color: #31343D;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
}



div h1 {
    background-color: #92CCCE;
    padding: 0.5em 0.5em 0.5em 1.5em;
    font-size: 2em;
    color: #31343D;

}

nav ul {
    display:flex;
    justify-content: space-around;
    min-width: 300px;
    margin: 0 3em;
    color: #92CCCE;
}
 */

 /* mobile design */
/* 
header {
    display: flex;
    flex-direction: column;
    background-color: #31343D;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 100px;
}

.container h1 {
    font-size: 2em;
    padding: 10px;
    margin-top: 10px;
    background-color: #92CCCE;
    text-align: center;
}

.container ul {
    text-align: center;
    padding: 10px;
    color: #92CCCE;
}

.container li {
    flex: 1 1 200px;
    font-size: 200%;
    padding: 1em;
    border-color: #fff;
    border-style: solid;
    border-width: 1px;
} */