body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    background-color: #31343D;
    justify-content: space-between;
}

nav {
    display: flex;
    justify-content: flex-end;
}
