body {
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    background-color: #31343D;
    color: azure;
}

h1 {
    font-size: 3em;
    background-color: #92CCCE;
}

.header-links {
    display: flex;
    background-color: brown;
    font-size: 2em;

}

.header-links li {
    padding: 0.5em;
}


/* body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

header {
    display: flex;
    flex-wrap: wrap;
    background-color: #31343D;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
}



div h1 {
    background-color: #92CCCE;
    padding: 0.5em 0.5em 0.5em 1.5em;
    font-size: 2em;
    color: #31343D;

}

nav ul {
    display:flex;
    justify-content: space-around;
    min-width: 300px;
    margin: 0 3em;
    color: #92CCCE;
}
 */

 /* mobile design */
/* 
header {
    display: flex;
    flex-direction: column;
    background-color: #31343D;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 100px;
}

.container h1 {
    font-size: 2em;
    padding: 10px;
    margin-top: 10px;
    background-color: #92CCCE;
    text-align: center;
}

.container ul {
    text-align: center;
    padding: 10px;
    color: #92CCCE;
}

.container li {
    flex: 1 1 200px;
    font-size: 200%;
    padding: 1em;
    border-color: #fff;
    border-style: solid;
    border-width: 1px;
} */